<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.13.0" targetFramework="net472" />
  <package id="Fody" version="6.0.5" targetFramework="net472" developmentDependency="true" />
  <package id="MaterialDesignColors" version="1.2.2-ci908" targetFramework="net472" />
  <package id="PropertyChanged.Fody" version="3.2.1" targetFramework="net472" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net472" />
</packages>