<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MangaChecker.ViewModels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.9.0" newVersion="0.9.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <MangaChecker.ViewModels.Properties.Settings>
      <setting name="Primary" serializeAs="String">
        <value>blue</value>
      </setting>
      <setting name="Accents" serializeAs="String">
        <value>blue</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>True</value>
      </setting>
    </MangaChecker.ViewModels.Properties.Settings>
  </userSettings>
</configuration>